<div class="container">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item <%= crumb_active?(about_path)%>"><%= link_to "About the Handyman", about_path %> </li>
      <li class="breadcrumb-item <%= crumb_active?(techniques_path)%>"><%= link_to "Techniques", techniques_path%></li>
    </ol>
  </div>
</div>
