<footer class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 center brand-name-footer">
        In Demand Handyman
        <div class="col-md-12 center social-links">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 center">
        <ul class="no-list">
          <li><a class="email" href="mailto:jared@indemandhandyman.services">Email Us</a></li>
          <li><%= link_to "Free Estimate", form_path %></li>
          <li>123-456-7890</li>
      </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright"><%= @copyright %></p>
      </div>
    </div>
  </div>
</footer>
