<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1560800.2777318733!2d-111.535794!3d40.177064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d961b01922fd5%3A0xfbd27ed382db18cf!2sUtah+County%2C+UT!5e0!3m2!1sen!2sus!4v1508266372437" width="498" height="498" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-3 contact-info">
			<div class="card">
				<div class="row">
					<div class="col-md-12 center">
						Hours:
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<ul class="no-list days">
							<li>Monday</li>
							<li>Tuesday</li>
							<li>Wednesday</li>
							<li>Thursday</li>
							<li>Friday</li>
						</ul>
					</div>
					<div class="col-md-5">
						<ul class="no-list hours">
							<li>8-5</li>
							<li>8-5</li>
							<li>8-5</li>
							<li>8-5</li>
							<li>8-5</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card">
				<ul class="no-list">
					<li>
						Call us: 123-345-6789
					</li>
					<li>
						<%= link_to 'Fill out an estimate', form_path %>
					</li>
					<li>
						<a class="email" href="mailto:jared@indemandhandyman.services">Email Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
