<%= render "shared/breadcrumb" %>
<h1 class="center header">Techniques</h1>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="grid-align"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Door">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Trim">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Window">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="row">
      <div class="grid-align"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Drywall">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Trim">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Caulking">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="row">
      <div class="grid-align"></div>

      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Toilet">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Sink">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 technique-card">
        <img data-src="holder.js/100px280/thumb" alt="Shower">
        <p class="technique-card-text">This is a wider technique-card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

  </div>
</div>
