
@import 'bootstrap';


// Nav Styles
.nav-tabs {
  padding: 0px;
  border-color: #0064b2;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: #0064b2;
  border-bottom-color: transparent;
  background-color: #B3B3B3

}
.nav-col {
  padding: 0px;
  margin-top: 20px;
}

.number {
  padding-left: 50px;
}
.brand-name {
  text-align: center;
}
.logo {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}
.nav-background {
  background-color: #DAB054;
}

//Footer Styles
.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #0064B2;
}

.page-footer a {
  color: black;
}

.brand-name-footer {
  font-size: 24px;
  text-align: left;
}
.social-links {
  font-size: 30px;
}
.copyright {
  font-size: 10px;
  text-align: center;

}



// General Styles
body {
  background-color: #B3B3B3;
  flex: 1 0 auto;

}

.no-list {
  list-style-type: none;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

// Homepage Styles
// About Styles
// Contact Styles
.map {
  margin-top: 70px;
  border: 1px solid;
  margin-left: 52.5px;
  width: 500px;
  height: 500px;
}
.contact-info {
  margin-top: 70px;
  font-size: 24px;
}
.contact-info a {
  color: black;
}


.days {
  padding-left: 5px;
}
.hours {
  margin-right: 0px;
}

.card {
  border: 1px solid blue;
  background-color: white;
  padding: 10px;
  margin: 5px;
}


// Form Styles
