@import "bootstrap-sprockets";
@import 'bootstrap';

.nav-tabs {
  padding: 0px;
}
.nav-col {
  padding: 0px;
  margin-top: 15px;
}

.number {
  padding-left: 10%;
}
.brand-name {
  text-align: center;
}
.logo {
  margin-top: 1px;
  height: 20%;
  width: 30%;
  margin-left: 100px;
}
.nav-background {
  background-color: #f9cf88;
}
